@import "../../../vars";

.Splash {
  background-image: linear-gradient(#0644bf88, #f2982999),
    url("../../../images/ocean-compressor.jpg");
  background-position: 50% 60%;
  height: calc(65vh - 100px);
  position: relative;
  width: 100%;

  .MaskedImage {
    background-image: linear-gradient(#0644bfbb, #f2982955, #0644bfbb),
      url("../../../images/oceanplastic2-compressor.jpg");
    background-position: 20% 55%;
    clip-path: circle(60% at 91% 74%);
    display: none;
    height: 100%;
    width: 100%;

    @include min-width(768px) {
      display: block;
    }
  }

  .SplashContent {
    @include flex(column, center, center);

    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
    padding: 2rem;

    h1,
    h2 {
      color: white;
      text-shadow: 2px 2px 15px black;
    }

    h1 {
      margin-bottom: 1rem;
    }
  }
}

.SplashLeft {
  @include flex(column, flex-start, center);
  width: 100%;

  h1 {
    font-size: $fontL;
  }
  h2 {
    font-size: $fontM;
  }

  @include min-width(800px) {
    h1 {
      font-size: $fontXL;
    }
    h2 {
      font-size: $fontL;
    }
  }

  @include min-width(1200px) {
    h1 {
      font-size: $fontXXL;
    }
  }
}

.SplashRight {
  margin-top: 3rem;

  h1 {
    font-size: $fontM;
  }

  button {
    @include cta-button;
    padding: 1rem 3rem;
    font-weight: 500;
  }

  @include min-width(800px) {
    h1 {
      font-size: $fontL;
    }
  }
}
