@import "../../../vars";

.Splash {
  background-image: linear-gradient(#0644bf88, #f2982999),
    url("../../../images/ocean-compressor.jpg");
  background-position: 50% 60%;
  height: calc(100vh - 100px);
  position: relative;
  width: 100%;

  .MaskedImage {
    background-image: linear-gradient(#0644bfbb, #f2982955, #0644bfbb),
      url("../../../images/oceanplastic2-compressor.jpg");
    background-position: 20% 55%;
    clip-path: circle(55% at 91% 74%);
    display: none;
    height: 100%;
    width: 100%;

    @include min-width(768px) {
      display: block;
    }
  }

  .SplashContent {
    @include flex(column, center, center);

    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;

    h1,
    h2 {
      color: white;
    }

    h1 {
      margin-bottom: 1rem;
    }

    @include min-width(768px) {
      @include flex(column, space-between, flex-start);
    }
  }
}

.SplashLeft {
  @include flex(column, flex-start, flex-start);

  width: 100%;
  padding: 2rem 0 0 2rem;

  h1 {
    font-size: $fontL;
  }
  h2 {
    font-size: $fontM;
  }

  @include min-width(800px) {
    padding: 3rem 0 0 3rem;

    h1 {
      font-size: $fontXL;
    }
    h2 {
      font-size: $fontL;
    }
  }

  @include min-width(1200px) {
    padding: 5rem 0 0 5rem;

    h1 {
      font-size: $fontXXL;
    }
    h2 {
      margin-left: 7rem;
      font-size: $fontXL;
    }
  }
}

.SplashRight {
  align-self: flex-end;
  height: 156px;
  margin-top: 3rem;
  padding: 0 1rem 4rem 0rem;

  h1 {
    font-size: $fontM;
  }

  button {
    @include cta-button;
    padding: 1rem 3rem;
    font-weight: 500;
  }

  @include min-width(800px) {
    padding: 0 4rem 4rem 0rem;

    h1 {
      font-size: $fontL;
    }
  }

  @include min-width(1200px) {
    padding: 0 3rem 5rem 0rem;

    h1 {
      font-size: $fontXL;
    }
  }
}
