@import "../../../vars";

.Splash {
  background-image: linear-gradient(#0644bf88, #f2982999),
    url("../../../images/ocean.jpg");
  background-position: 50% 60%;
  height: 89.5vh;
  position: relative;
  width: 100%;

  .MaskedImage {
    background-image: linear-gradient(#f2982999, #0644bf88),
      url("../../../images/plastic.jpg");
    background-position: 50% 80%;

    clip-path: circle(51.9% at 91% 74%);
    display: none;
    height: 100%;
    width: 100%;

    @include min-width(768px) {
      display: block;
    }
  }

  .SplashContent {
    @include flex(column, center, center);

    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;

    h1,
    h2 {
      color: white;
    }

    h1 {
      margin-bottom: 1rem;
    }

    @include min-width(768px) {
      @include flex(column, space-between, flex-start);
    }
  }
}

.SplashLeft {
  @include flex(column, flex-start, flex-start);

  width: 100%;
  padding: 2rem 0 0 2rem;

  h1 {
    font-size: $fontL;
  }
  h2 {
    font-size: $fontM;
  }

  @include min-width(800px) {
    padding: 3rem 0 0 3rem;

    h1 {
      font-size: $fontL;
    }
    h2 {
      font-size: $fontM;
    }
  }

  @include min-width(1200px) {
    padding: 5rem 0 0 5rem;

    h1 {
      font-size: $fontXL;
    }
    h2 {
      font-size: $fontL;
    }
  }
}

.SplashRight {
  margin-top: 3rem;
  align-self: flex-end;
  padding: 0 1rem 4rem 0rem;

  h1 {
    font-size: $fontM;
  }

  button {
    @include cta-button;
  }

  @include min-width(800px) {
    padding: 0 4rem 4rem 0rem;

    h1 {
      font-size: $fontL;
    }
  }

  @include min-width(1200px) {
    padding: 0 3rem 5rem 0rem;

    h1 {
      font-size: $fontXL;
    }
  }
}
