@import "../../../../../vars";

.CounterContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
  grid-gap: 2rem;

  @include min-width(1000px) {
    grid-template-columns: 1fr 1fr;
  }
}

.Counter {
  @include flex(column, flex-start, center);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
  padding: 2rem 4rem;
  height: 100%;
  width: 100%;

  .Number {
    @include font("XL");
    text-align: center;
    margin: 0;
    letter-spacing: 0.4rem;
  }

  .Text {
    margin: 0;
    text-align: center;
  }
}
