@import "../../../vars";

.CTA {
  @include flex(row, center, center);

  flex-wrap: wrap;
  min-height: 50vh;
  padding: 3rem;
  width: 100%;

  .Card {
    @include flex(column, space-between, center);

    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lighten($darkgray, 40%);
    height: 350px;
    margin: 3rem;
    width: 270px;

    button {
      @include cta-button();

      margin-bottom: 3rem;
      width: 160px;
    }

    .Img {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      height: 180px;
      object-fit: cover;
      width: 100%;
    }

    h3 {
      font-size: $fontM;
      margin-top: 1rem;
      text-align: center;
    }

    @include min-width(1000px) {
      margin-top: 0;
    }
  }
}
