@import "../../../vars";

.Introduction {
  @include flex(column, flex-start, center);

  padding: 3rem 2rem;
  padding-bottom: 5rem;
  width: 80vw;
  background: white;

  @include min-width(1000px) {
    @include flex(row, center, center);
  }
}

.Left {
  @include flex(column, flex-start, flex-start);

  margin-top: 3rem;
  max-width: 900px;
  padding: 0 2rem;

  h1 {
    @include font("XL");
    margin-bottom: 3rem;
  }

  h2,
  p {
    margin-bottom: 3rem;
  }

  h2 {
    @include font("M");
    text-align: left;
  }

  p {
    @include font("S");
  }

  @include min-width(1000px) {
    h2 {
      @include font("L");
    }

    p {
      @include font("M");
    }
  }
}

.Right {
  @include flex(column, center, center);

  margin-top: 3rem;
  max-width: 400px;
  padding: 0 2rem;
  width: 100%;

  img {
    width: 100%;
    max-width: 400px;
  }

  h2 {
    @include font("M");

    margin-bottom: 3rem;
    text-align: center;
  }

  p {
    @include font("S");
  }
}

.Underline::after {
  @include underline();
}
