@import "../../../vars";

.SectionOne {
  @include flex(column, center, center);

  background: white;
  border: 3px solid black;
  margin: 2rem 1rem;
  max-width: 1000px;
  min-height: 80vh;
  padding: 2rem;
  text-align: left;
  width: 80%;
}

.Intro {
  @include flex(column, flex-start, center);

  min-height: 100%;

  h3 {
    @include font("M");

    @include min-width(1000px) {
      @include font("L");
    }
  }

  p {
    @include font("S");

    margin-top: 3rem;

    @include min-width(1000px) {
      @include font("M");
    }
  }

  ul {
    margin-top: 1rem;

    li {
      margin: 0 2rem;
    }
  }
}

.ImageGrid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr;
  height: 100%;
  justify-items: center;
  margin-top: 3rem;
  width: 100%;

  div {
    @include flex(row, center, center);
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      max-width: 500px;
      object-fit: cover;
      width: 100%;
    }
  }

  @include min-width(700px) {
    grid-template-columns: 1fr 1fr;
  }

  @include min-width(1000px) {
    width: 100%;
  }
}
