@import "../../../vars";

.Bobo {
  @include flex(column, flex-start, center);
  min-height: 100vh;
  padding-top: 3rem;
  width: 100%;
}

.Title {
  @include flex(column, flex-start, center);
  width: 100%;

  h1 {
    @include font("L");
    margin-top: 3rem;
  }

  img {
    width: 100%;
    padding: 0 1rem;
  }

  @include min-width(768px) {
    padding: 0 20%;

    h1 {
      align-self: flex-end;
    }
  }

  @include min-width(1200px) {
    h1 {
      @include font("XL");
      margin-top: -3rem;
    }
  }
}

.Facts {
  @include flex(column, flex-start, center);

  margin-top: 3rem;
  padding: 0 2rem 3rem 2rem;
  max-width: 700px;
}

.Fact {
  h2 {
    @include font("M");
    text-align: center;
    margin-bottom: 3rem;
  }

  p {
    @include font("S");
    margin-bottom: 3rem;
  }
}

.Fact1 {
}

.Fact2 {
  h2 {
    margin-top: 2rem;
  }
}

@include min-width(1000px) {
  .Facts {
    @include flex(row, space-between, flex-start);

    max-width: 1500px;
  }

  .Fact {
    width: 50%;
  }

  .Fact1 {
    margin-right: 3rem;
  }

  .Fact2 {
    margin-left: 3rem;
    h2 {
      margin-top: 0;
    }
  }
}

.Gallery {
  @include flex(row, space-around, center);
  flex-wrap: wrap;
  background: $primary;
  min-width: 100%;
  padding: 3rem 0;

  div {
    box-sizing: content-box;
    width: 300px;
    height: 200px;
    padding: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
