@import "../../../vars";

.Partners {
  @include flex(column, flex-start, center);
  background: white;
  width: 100vw;
  padding: 3rem 0;

  h1 {
    margin-bottom: 3rem;
    font-size: $fontL;
    line-height: $lineL;
  }
}

.PartnerContainer {
  @include flex(column, flex-start, space-around);

  @include min-width(600px) {
    @include flex(row, space-around);
    flex-wrap: wrap;
  }

  a {
    @include flex(column, flex-start, center);
    flex: 0 0 33.333333%;
  }
}

.Partner {
  @include flex(column, space-between, center);

  height: 400px;
  margin-bottom: 2rem;
  width: 300px;
  padding: 0 2rem;
  margin: 3rem 3rem;

  .ImageContainer {
    @include flex(column, center, center);
    height: 100%;
  }

  .Img {
    @include flex(column, center, center);
    height: 100%;
  }

  h2 {
    font-size: $fontM;
    line-height: $lineM;
    margin-top: 3rem;
    text-align: center;
  }
}
