@import "../../../vars";

.Header {
  @include flex(row, space-between, center);

  background: white;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;

  a {
    color: $darkgray;
    font-size: $fontS;
    line-height: $lineS;
    text-decoration: none;
  }
}

.NavLinksLeft {
  @include flex(row, space-around, center);

  width: 33.33%;
}

.MainLogo {
  height: 100%;
  width: 33.33%;

  a {
    @include flex(column, center, center);

    height: 100%;

    img {
      height: 90%;
    }
  }
}

.NavLinksRight {
  @include flex(row, space-around, center);

  width: 33.33%;
}

.HamburgerMenu {
  @include flex(column, center, center);

  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  font-size: $fontL;
  margin-right: 2rem;
}

.NavLinks {
  @include flex(column, flex-start, center);

  background: lighten($lightgray, 10%);
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 100px;

  a {
    color: #36454f;
    font-weight: 700;
    margin-bottom: 1rem;
    text-decoration: none;
  }
}

.Hidden {
  display: none;
}

@media (max-width: 650px) {
  .NavLinksLeft,
  .NavLinksRight {
    display: none;
  }

  .HamburgerMenu {
    display: block;
  }
}
