@import "../../vars";

.ContactForm {
  @include flex(column, center, center);

  height: 100%;
  min-height: 80vh;
  padding-bottom: 3rem;
  width: 100%;

  div {
    @include flex(column, flex-start, center);

    padding: 0 2rem;
    width: 100%;
    max-width: 400px;

    label {
      align-self: flex-start;
      margin-bottom: 0.5rem;
      font-size: $fontM;
      line-height: $lineM;
    }

    input {
      margin-bottom: 1rem;
      max-width: 350px;
      width: 100%;
      height: $fontXL;
    }

    h1 {
      margin-bottom: 1rem;
      font-size: $fontL;
      line-height: $lineL;
    }

    textarea {
      margin-bottom: 1rem;
      max-width: 350px;
      width: 100%;
      min-height: 320px;
      resize: vertical;
    }
  }
}

.Submit {
  @include cta-button();
}
