@import "../../vars";

.Donate {
  @include flex(column, flex-start, center);

  background: white;
  border: 3px solid $darkgray;
  margin: 3rem auto;
  min-height: calc(100vh - 100px);
  width: 98%;

  @include min-width(768px) {
    width: 80%;
  }
}

.Title {
  @include font("XL");

  padding-top: 3rem;
  text-align: center;
}

.DonateImage {
  @include flex(column, flex-start, center);

  margin: 3rem 0;
  max-width: 60rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;

  .Img {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px $lightgray;
    width: 100%;
  }
}

.DetailsAddress {
  @include flex(column, center, center);

  width: 80%;

  @include min-width(1000px) {
    @include flex(row, center, flex-start);
  }
}

.Details {
  @include flex(column, flex-start, center);
  @include font("S");

  padding: 0 2rem;
  margin: 3rem 3rem 0 3rem;

  div {
    @include flex(column, flex-start, center);

    p:last-child {
      margin-bottom: 1rem;
    }
  }

  @include min-width(1000px) {
    @include font("M");
  }
}

.Address {
  @include font("S");

  margin: 3rem 3rem 0 3rem;
  padding: 0 2rem;

  p:first-child {
    margin-bottom: 1rem;
  }

  @include min-width(1000px) {
    @include font("M");
  }
}

.Copy {
  @include flex(column, flex-start, flex-start);
  @include font("S");

  padding: 0 2rem;
  width: 100%;
}

.Intro {
  align-self: center;

  .Subtitle {
    text-align: center;
  }

  p {
    @include font("S");
    margin-bottom: 1rem;
  }

  h2,
  p:last-child {
    margin-bottom: 3rem;
  }

  @include min-width(1000px) {
    p {
      @include font("M");
    }
  }
}

.Organisations {
  @include flex(column, flex-start, center);

  width: 100%;
}

.Organisation {
  @include flex(column, flex-start, center);

  margin-bottom: 3rem;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  .Left {
    margin-bottom: 2rem;
  }

  .Right {
    h3 {
      margin-bottom: 0.5rem;
    }
  }

  @include min-width(1000px) {
    @include flex(row, flex-start, center);
    text-align: left;

    .Left {
      margin-bottom: 0rem;
      margin-right: 5rem;
    }
  }
}

.BubbleContainer {
  display: none;
  left: 50px;
  position: absolute;
  top: -100px;

  @include min-width(1200px) {
    display: block;
  }
}

.Bubble {
  position: relative;
  z-index: 300;

  img {
    height: 300px;
  }

  p {
    font-size: 4rem;
    left: 40px;
    position: absolute;
    top: 95px;
    z-index: 400;
  }
}
