@import "./../../vars";

.NotFound {
  @include flex(column, center, center);
  min-height: calc(100vh - 100px);

  h1 {
    font-size: $fontXL;
    margin-bottom: 3rem;
  }

  p {
    font-size: $fontL;

    a {
      color: dodgerblue;
    }
  }
}
