@import "../../vars";

.Success {
  @include flex(column, center, center);

  min-height: calc(100vh - 100px);
  background: white;
  width: 80%;
  margin: 0 auto;
  border: 3px solid $darkgray;
  margin-top: 3rem;
  margin-bottom: 3rem;

  h1 {
    @include font("XL");

    margin-bottom: 3rem;
  }

  p {
    @include font("L");

    a {
      color: dodgerblue;
    }
  }
}
