@import "../../../vars";

.Modal {
  @include flex(column, center, center);

  background: rgba(0, 0, 0, 0.7);
  height: 130vh;
  position: fixed;
  width: 100vw;
  z-index: 100;
  margin-top: -300px;
  padding-top: 150px;
}

.Content {
  @include flex(column, center, center);

  background: white;
  margin-top: -5rem;
  position: relative;
  width: 100%;
  max-width: 1300px;
  border-radius: 5px;

  button {
    z-index: 100;
  }
}

.ImageContainer {
  width: 80%;
  max-width: 1500px;
  padding: 5rem;

  .Image {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px $lightgray;
  }
}

.CloseModal {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: black;
  font-size: $fontXL;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  right: 3rem;
  top: 2rem;
}

.Description {
  @include font("M");

  padding-bottom: 3rem;
  text-transform: capitalize;
}

.Arrow {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: black;
  font-size: $fontXL;
  font-weight: 700;
  padding: 5px;
  position: absolute;
}

.ArrowLeft {
  left: 1rem;
}

.ArrowRight {
  right: 1rem;
}
