@import "../../../vars";

.Modal {
  @include flex(column, flex-start, center);

  background: rgba(0, 0, 0, 0.7);
  height: 200vh;
  margin-top: -100px;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.Content {
  @include flex(column, center, center);

  background: white;
  border-radius: 5px;
  margin-top: -5rem;
  margin-top: 5vh;
  max-width: 1100px;
  position: relative;
  width: 95%;

  button {
    z-index: 100;
  }

  // @include min-width(700px) {
  //   margin-top: 15vh;
  // }

  @include min-width(1000px) {
    margin-top: 3vh;
    width: 100%;
  }
}

.ImageContainer {
  @include flex(column, center, center);
  max-width: 1500px;
  padding: 2rem;
  width: 100%;
  height: 75vh;

  .Image {
    // border-radius: 5px;
    // box-shadow: 1px 1px 1px 1px $lightgray;
    width: 100%;
    max-height: 100%;
  }

  @include min-width(1000px) {
    height: 85vh;
  }
}

.CloseModal {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: black;
  cursor: pointer;
  font-size: $fontXL;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  right: 3rem;
  top: 2rem;
}

.Description {
  @include font("M");

  padding-bottom: 3rem;
  text-align: center;
  text-transform: capitalize;
}

.Arrow {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: black;
  cursor: pointer;
  font-size: $fontXL;
  font-weight: 700;
  padding: 5px;
  position: absolute;
}

.ArrowLeft {
  left: 1rem;
}

.ArrowRight {
  right: 1rem;
}
