@import "../../../vars";

.Event {
  @include flex(column, center, center);

  border: 3px solid black;
  margin: 2rem 1rem;
  max-width: 1000px;
  min-height: 80vh;
  padding: 2rem;
  text-align: left;
  width: 80%;

  h1 {
    font-size: $fontL;
    line-height: $lineL;
    margin-top: 3rem;
  }

  p {
    align-self: flex-start;
    font-size: $fontM;
    line-height: $lineM;
    margin-top: 3rem;
  }
}

.Flyer {
  width: 100%;
}

.EventCTA {
  @include flex(column, flex-start, center);

  margin-top: 3rem;

  h2 {
    font-size: $fontM;
  }

  button {
    @include cta-button();

    margin-top: 3rem;
  }
}
