@import "../../../vars";

.Event {
  @include flex(column, center, center);

  background: white;
  border: 3px solid $darkgray;
  margin: 5rem 1rem;
  min-height: 80vh;
  padding: 3rem;
  text-align: left;
  width: 98%;

  @include min-width(768px) {
    width: 80%;
  }

  h1 {
    @include font("M");

    margin-top: 3rem;
    text-align: center;

    @include min-width(1000px) {
      @include font("L");
    }
  }

  p {
    @include font("S");

    margin-top: 3rem;
    max-width: 1200px;
    width: 100%;

    @include min-width(1000px) {
      @include font("M");
    }
  }

  .Underline::after {
    @include underline();
  }
}

.Flyer {
  width: 100%;
}

.EventCTA {
  @include flex(column, flex-start, center);

  margin-top: 3rem;

  h2 {
    @include font("S");

    text-align: center;

    @include min-width(1000px) {
      @include font("M");
    }
  }

  button {
    @include cta-button();

    margin-top: 3rem;
  }
}

.VideoContainer {
  width: 100%;
}

.Video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.27198%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
