@import "../../../vars";

.Personnel {
  padding: 3rem 2rem;
  width: 80vw;
  height: 100%;

  h2 {
    @include font("L");
    margin-bottom: 5rem;
  }
}

.Founders {
  @include flex(column, flex-start, center);

  height: 100%;
  width: 100%;
}

.Profile {
  @include flex(column, flex-start, center);

  height: 100%;
  width: 100%;
  margin-bottom: 5rem;

  .ImageName {
    @include flex(column, flex-start, center);

    width: 100%;
    margin-bottom: 3rem;

    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
    }

    h3 {
      @include font("M");
    }
  }

  .Copy {
    p {
      @include font("S");
      margin-bottom: 3rem;
    }
  }

  @include min-width(1000px) {
    @include flex(row, space-between, flex-start);

    .ImageName {
      width: 40%;
      margin-right: 5rem;

      h3 {
        @include font("L");
      }
    }

    .Copy {
      max-width: 800px;

      p {
        @include font("M");
      }
    }
  }
}
