@import "../../../vars";

.Personnel {
  padding: 3rem 2rem;

  height: 100%;
  background: white;
  border: 3px solid $darkgray;
  margin: 3rem 0;

  width: 98%;

  @include min-width(768px) {
    width: 80%;
  }

  h2 {
    @include font("L");
    margin-bottom: 5rem;
  }
}

.Founders {
  @include flex(column, flex-start, center);

  height: 100%;
  width: 100%;
}

.Profile {
  @include flex(column, flex-start, center);

  height: 100%;
  width: 100%;
  margin-bottom: 5rem;

  .ImageName {
    @include flex(column, flex-start, center);

    width: 100%;
    margin-bottom: 3rem;

    .Portrait {
      max-width: 300px;
      max-height: 300px;
      width: 100%;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    h3 {
      @include font("M");
    }
  }

  .Copy {
    p {
      @include font("S");
      margin-bottom: 3rem;

      a {
        color: dodgerblue;
      }
    }

    p:last-child::after {
      @include underline();
    }
  }

  @include min-width(1000px) {
    @include flex(row, space-between, center);

    .ImageName {
      width: 40%;
      margin-right: 5rem;

      h3 {
        @include font("L");
      }
    }

    .Copy {
      max-width: 800px;

      p {
        @include font("M");
      }
    }
  }
}
