@import "../../../vars";

.CoreProgram {
  @include flex(column, flex-start, center);

  background: white;
  border: 3px solid $darkgray;
  margin: 3rem 1rem;
  min-height: calc(100vh - 100px);
  padding: 3rem;
  width: 98%;

  @include min-width(768px) {
    width: 80%;
  }

  h1 {
    @include font("XL");

    text-align: center;
  }
}

.CoreList {
  display: grid;
  grid-template-areas:
    "One"
    "Two"
    "Three"
    "Four";
  justify-items: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
  min-height: 80vh;
  width: 100%;

  li {
    list-style: none;
    width: 100%;

    div {
      @include flex(column, flex-start, center);

      margin-top: 4rem;
      width: 100%;

      .Image {
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px $lightgray;
        cursor: pointer;
        max-height: 200px;
        max-width: 320px;
        object-fit: cover;
        width: 100%;

        @include min-width(1400px) {
          max-height: 300px;
          max-width: 480px;
        }
      }

      @include min-width(1000px) {
        width: 50%;
      }
    }

    p {
      @include font("S");
      @include flex(column, center, center);

      margin-top: 2rem;
      max-width: 320px;
      text-align: left;
    }

    @include min-width(1150px) {
      p {
        @include font("M");

        max-width: 500px;
      }

      p::after {
        @include underline();
      }
    }
  }
}

.One {
  @include flex(column, flex-start, center);
  grid-area: One;

  @include min-width(1000px) {
    @include flex(row, space-around, center);
  }
}

.Two {
  @include flex(column, flex-start, center);
  grid-area: Two;

  @include min-width(1000px) {
    @include flex(row-reverse, space-around, center);
  }
}

.Three {
  @include flex(column, flex-start, center);

  grid-area: Three;

  @include min-width(1000px) {
    @include flex(row, space-around, center);
  }
}

.Four {
  @include flex(column, flex-start, center);

  grid-area: Four;

  @include min-width(1000px) {
    @include flex(row-reverse, space-around, center);
  }
}
