// @import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700|Raleway:400,700&display=swap");

//COLORS
$primary: #fdf01b;
$secondary: #0644bf;
$tertiary: #f29829;
$lightgray: #dfdce3;
$darkgray: #36454f;

//SPACING

//FONT
$fontStackTitle: "Merriweather", serif;
$fontStack: "Raleway", sans-serif;
$fontXXL: 5rem;
$fontXL: 4rem;
$fontL: 3rem;
$fontM: 2.5rem;
$fontS: 1.8rem;

//Line Height
$lineXL: 6.75rem;
$lineL: 4.5rem;
$lineM: 3.75rem;
$lineS: 2.7rem;
//MIXINS
//Flex
@mixin flex($dir: null, $just: null, $ali: null) {
  display: flex;
  @if $dir != null {
    flex-direction: $dir;
  }
  @if $just != null {
    justify-content: $just;
  }
  @if $ali != null {
    align-items: $ali;
  }
}

//Media Queries
@mixin min-width($threshold) {
  @media screen and (min-width: $threshold) {
    @content;
  }
}

//CTA Button
@mixin cta-button() {
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 0px 0px darken($tertiary, 10%);
  color: white;
  cursor: pointer;
  font-size: $fontM;
  padding: 0.6rem 1.1rem;
  background: $tertiary;

  &:hover {
    background: darken($tertiary, 10%);
  }
}

//Font size and height
@mixin font($size) {
  @if $size == "S" {
    font-size: $fontS;
    line-height: $lineS;
  } @else if $size == "M" {
    font-size: $fontM;
    line-height: $lineM;
  } @else if $size == "L" {
    font-size: $fontL;
    line-height: $lineL;
  } @else if $size == "XL" {
    font-size: $fontXL;
    line-height: $lineXL;
  }
}
